 
.card-footer {
    padding: 5px ;
}
.card-img-top {
    height: 140px;
}
.new {
    height: 189px;
    line-height: 8.5;
    border: 3px dashed !important;
}
.new-icon {
    font-size: 30px;
}
.card-img-overlay  {
    padding:0;
    text-align: right;
    padding-right: 10px;
}
.fa {
    color: #d53e3e;
    font-size: 1.1rem;
    float: right;
    top: -11px;
    right: -10px;
    position: relative;
    cursor: pointer;
} 
.card-image {
    height: 115px;
    background-size: 100% 100%;
}