<div class="row">
    <div class="col-md-8">
        <div class="card">
            <div class="card-header bg-success">
                Setup
            </div>
            <div class="card-body">
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-4">
                            <label>Select SideBar</label>
                            <select [(ngModel)]="setupObj.Sidebar" class="form-control">
                                <option value="top">Top Navbar</option>
                                <option value="sidebar">Side Navbar</option>
                            </select>
                        </div>
                        <div class="col-md-4">
                            <label style="margin: 0;">Select Navbar Color</label>
                            <input type="color" [(ngModel)]="setupObj.SidebarColor" class="form-control">
                        </div>
                    </div>
                    <div class="row pt-2"> 
                        <div class="col-md-3">
                            <label style="margin: 0;">Select Font Color</label>
                            <input type="color" [(ngModel)]="setupObj.FontColor" class="form-control">
                        </div>
                    </div> 
                </div>
            </div>
            <div class="card-footer">
                <div class="row">
                    <div class="col-md-6 text-right">
                        <button class="btn btn-secondary">Reset</button>
                    </div>
                    <div class="col-md-6">
                        <button class="btn btn-success" (click)="saveSetup()">Save Setup</button>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>