<div class="row">
  <div class="col-md-2">
    <div class="row" *ngFor="let note of getLeftSideNotes()">
      <div class="col-12">
        <app-note [note]="note">
        </app-note>
      </div>
    </div>
  </div>
  <div class="col-md-8">
    <div class="row">
      <div class="col-md-4" *ngFor="let fav of favList">
        <app-card [fav]="fav"></app-card>
      </div> 
      <div class="col-md-4" (click)="openFav()">
        <div class="card new">
          <div class="card-body text-center">
            <i class="fa fa-plus new-icon" aria-hidden="true"></i>
          </div>
        </div>
      </div> 
    </div> 
  </div>
  <div class="col-md-2">
    <div class="row" *ngFor="let note of getRightSideNotes()">
      <div class="col-12">
        <app-note [note]="note">
        </app-note>
      </div>
    </div>
  </div>
</div>

<div class="modal" id="noteModel">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Create New Note</h4>
        <button type="button" class="close" (click)="closeNote()" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-6">
            <label>Title</label>
            <input type="text" [(ngModel)]="noteObj.Title" class="form-control" placeholder="Enter Title" />
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <label>Details</label>
            <textarea class="form-control" [(ngModel)]="noteObj.Details" placeholder="Enter Details"></textarea>
          </div>
        </div>
        <div class="row">
          <div class="col-md-5">
            <label>Position</label>
            <select class="form-control" [(ngModel)]="noteObj.Position">
              <option selected disabled>Select Option</option>
              <option value="left">Left</option>
              <option value="right">Right</option>
            </select>
          </div>
          <div class="col-md-4">
            <label style="margin: 0;">Select Color</label>
            <input type="color" [(ngModel)]="noteObj.Color" class="form-control">
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" (click)="closeNote()">Close</button>
        <button type="button" class="btn btn-success" (click)="saveNote()" data-dismiss="modal">Add Note</button>
      </div>
    </div>
  </div>
</div>
<div class="modal" id="favModel">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Add New Favorite</h4>
        <button type="button" class="close" (click)="closeFav()" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-4">
            <label>Title</label>
            <input type="text" [(ngModel)]="favObj.Title" class="form-control" placeholder="Enter Title" />
          </div>
        </div>
        <div class="row">
          <div class="col-md-10">
            <label>Link</label>
            <input type="text" [(ngModel)]="favObj.Link" class="form-control" placeholder="Enter Link" />
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <label>Image Url</label>
            <input type="text" [(ngModel)]="favObj.ImageUrl" class="form-control" placeholder="Image Url" />
          </div> 
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" (click)="closeFav()" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-success" (click)="saveFav()" data-dismiss="modal">Add Fav</button>
      </div>
    </div>
  </div>
</div>